.home-background {
    background-image: url(../img/snow-mountain.jpg);
    background-position: center;
    background-size: cover;
}

#landing-page-caption {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}