.bg-red-solid {
    background-color: #d31145;   
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    color: white !important;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

a.a-text:hover {
    font-weight: bold;
    text-decoration: none;
    color: white !important;
}

a.a-text {
color: #f8f9fa !important;
}