@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap");

html,
body,
#root,
.App,
.Home {
    height: 100%;
}

.App {
    text-align: center;
}

.pri-font {
    font-family: "Karla", sans-serif !important;
}

.sec-font {
  font-family: 'Montserrat', sans-serif !important;
}


